Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Cors==6.0.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.4.1
MarkupSafe==3.0.3
psycopg2-binary==2.9.12
python-dotenv==1.2.3
SQLAlchemy==2.0.52
tomli==2.4.1
typing_extensions==4.16.0
Werkzeug==3.1.8
gunicorn==23.0.0